<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.14.0" targetFramework="net461" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net461" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net461" />
  <package id="System.Management" version="6.0.0" targetFramework="net461" />
</packages>